{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}
<form action="" method="POST">
        <div class="container">
                <div class="row justify-content-center">
                        <div class="col-6">
                                <div class="card card-block">
                                        <div class="card-body">
                                                <h1 class="card-title text-center display-4">Cadastro Aluno</h1>
                                                <hr>
                                                <div class="card-text text-center">
                                                        {% csrf_token %}
                                                        {{form|crispy}}
                                                </div>
                                                <button type="submit" class="btn btn-primary" style="width:100%">Cadastrar</button>

                                                <!-- 
                <label for='nome'>Nome</label>
                <input id='nome' name='nome'>
                <label for='cpf'>CPF</label>
                <input id='cpf' name='cpf'>
                <label for='data_nasc'>Data Nascimento</label>
                <input id='data_nasc' name{='data_na}sc'>
                <label for='endereco'>endereco</label>
                <input id='endereco' name='endereco'>
                <label for='telefone'>telefone</label>
                <input id='telefone' name='telefone'>
                <label for='curso'>Nome</label>
                <input id='curso' name='curso'>                                                                
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                -->
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

</form>
{% endblock content %}